body {
    margin: 0;
}

a {
    font-size: 20px;
}

h2 {
    font-size: 30px
}

button {
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00bcd4;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: rgb(83, 11, 11);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgba(121, 135, 199, 0.747);
    color: rgb(136, 9, 15);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #afa512;
}

#active {
    float: right;
}

.content{
    margin: auto 200px;
}

.content p {
    font-size: 20px;
}

.text-content {
    background-image: url("https://images.unsplash.com/photo-1590935216109-8d3318de2c1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 1px;
}


.text-content p {
    margin: auto 30% 0 20px;
    line-height: 30px;
}

/* Untuk Nomor 1 */
.contents {
    margin: 5% 20%;
    /* padding: 50px; */
}